.services {
  position: static;
  width: 100%;
  z-index: 4;
  background-color: #0d0e20;

  border-radius: 60px;

  margin-top: -60px;
  margin-bottom: -60px;
  color: #dcdfe4;
}

.services {
  padding: 115px 0 100px;
}
.services-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -5%;
  margin-bottom: 50px;
}
.services-container {
  display: flex;
  flex-direction: column;
}
.service-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0;
  border-bottom: 1px solid rgba(220, 223, 228, 0.1);
}

.service-row:last-child {
  border: none;
}

.service-row-left {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}

.service-row-left.hovered {
  color: rgba(255, 255, 255, 1);
}
.service-letter {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -5%;
  width: 90px;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}
.service-naming {
  font-family: var(--font-nyght-serif), serif;
  font-weight: 300;
  font-size: 72px;
  line-height: 68px;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.service-row-right {
  max-width: 315px;
  width: 100%;
  position: relative;
}

.service-row-right-icon {
  position: absolute;
  right: 0;
  top: 50%;
  width: 32px;
  height: auto;
  color: rgba(255, 255, 255, 0.2);

  opacity: 1;
  visibility: visible;
  transform: translateY(-50%);

  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s ease;
}

.service-row-right-icon.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(calc(-50% + 10px));
}

.service-row-right-text {
  position: absolute;
  right: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -5%;

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);

  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s ease;
}

.service-row-right-text.hovered {
  opacity: 1;
  visibility: visible;
  transform: translateY(-50%);
}

.service-naming-container {
  position: relative;
}
.service-naming-tag {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  line-height: 16px;
  font-size: 14px;
  letter-spacing: -5%;

  color: #fff;
  background-color: rgba(25, 61, 235, 1);
  width: max-content;

  border-radius: 100px;
  padding: 8px 12px;

  opacity: 0;
  visibility: hidden;

  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s ease;
}

.service-row-left.hovered .service-naming-tag {
  opacity: 1;
  visibility: visible;
}

.first-naming-tag {
  left: 7%;
  transform: translateY(10px) rotate(-5deg);
}

.service-row-left.hovered .first-naming-tag {
  transform: translateY(0) rotate(-5deg);
}

.second-naming-tag {
  left: 29%;
  bottom: -25px;
  transform: translateY(10px) rotate(5deg);
  transition-delay: 0.05s;
}

.service-row-left.hovered .second-naming-tag {
  transform: translateY(0) rotate(5deg);
}

.third-naming-tag {
  top: -20px;
  right: 90%;
  transform: translateY(10px) rotate(5deg);

  background: rgba(220, 223, 228, 1);
  color: rgba(25, 61, 235, 1);
  transition-delay: 0.1s;
}

.service-row-left.hovered .third-naming-tag {
  transform: translateY(0) rotate(5deg);
}

.fourth-naming-tag {
  right: 0%;
  top: -18px;
  transform: translateY(10px) rotate(-5deg);
  transition-delay: 0.15s;
}

.service-row-left.hovered .fourth-naming-tag {
  transform: translateY(0) rotate(-5deg);
}
