.ContactForm {
  background: rgba(13, 14, 32, 0.3);
  position: fixed;
  inset: 0;

  z-index: 12;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.ContactForm.open {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.ContactForm-container {
  padding: 20px;
  position: absolute;

  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
}

.ContactForm-wrapper {
  position: relative;
  /* background: rgb(95, 95, 95); */
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(220, 223, 228, 1);
  box-shadow: 0px 48px 100px 0px rgba(13, 14, 32, 0.15);

  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  border-radius: 40px;

  padding: 42px 36px;
}

.ContactForm-close {
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: end;
  top: 36px;
  right: 36px;
  padding-left: 10px;
}

.ContactForm-close svg {
  width: 28px;
  height: 28px;
}

.ContactForm-title {
  font-family: var(--font-nyght-serif), serif;
  font-weight: 300;
  font-style: Light;
  font-size: 52px;
  line-height: 48px;
  letter-spacing: -2%;
}
.ContactForm-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -5%;
  color: rgba(2, 0, 40, 0.5);

  margin-top: 24px;
  margin-right: 36px;
}

.ContactForm-wrapper-form {
  display: flex;
  flex-direction: column;
  gap: 36px;

  margin-top: 52px;
}
.ContactForm-wrapper-form-row {
  display: flex;
  gap: 20px;
}
.ContactForm-wrapper-form-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 100%;
  width: 100%;
}

.ContactForm-wrapper-form-group label {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -5%;
  vertical-align: middle;
  color: rgba(2, 0, 40, 1);
}
.ContactForm-wrapper-form-group input,
.ContactForm-wrapper-form-group textarea {
  padding: 16px;
  max-width: 100%;
  width: 100%;
  background: rgba(220, 223, 228, 0.2);
  border-radius: 12px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -5%;
}

.ContactForm-wrapper-form-group-phone {
  display: flex;
  background: rgba(220, 223, 228, 0.2);
  padding: 16px;
  border-radius: 12px;
}
.ContactForm-wrapper-form-group-phone-label {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 18px !important;
  letter-spacing: -5%;
}

.ContactForm-wrapper-form-group-phone-input {
  background-color: transparent !important;
  padding: 0 !important;
  padding-left: 3px !important;
}

.ContactForm-wrapper-form-button {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -5%;
  color: rgba(255, 255, 255, 1);
  background: rgba(25, 61, 235, 1);
  border-radius: 100px;
  padding: 15px;
  transition: all 0.3s ease;
}

.ContactForm-wrapper-form-button:hover {
}
