footer {
  position: static;
  z-index: 3;
  background-color: #212163;

  color: #fff;

  background-image: url("/Footer/bg.webp");
  background-position: center;
  background-size: cover;

  padding: 60px;
}

/* .container {
} */
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-top-nav {
  display: flex;
}
.footer-top-nav-group {
  display: flex;
  flex-direction: column;
}
.footer-top-nav-group-title {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -5%;
  vertical-align: middle;
  margin-bottom: 32px;
}
.footer-top-nav-group-links {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
.footer-top-nav-group-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-top-nav-group-link {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -5%;

  color: #ffffff4d;
  transition: all 0.3s ease;
}

.footer-top-nav-group-link:hover {
  color: #fff;
}

.footer-top-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer-top-contact-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}
.footer-top-contact-group-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -5%;
  text-align: right;
}
.footer-top-social-group {
  display: flex;
  gap: 12px;
  margin-top: 24px;
}
.footer-top-social-group-link {
  color: #fff;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  transition: all 0.3s;
  display: flex;
}
.footer-top-social-group-icon {
  width: 18px;
  height: 18px;
  transition: all 0.3s;
}

.footer-top-social-group-link:hover {
  color: rgb(25, 61, 235);
  background-color: rgb(255, 255, 255);
}
