.testimonials {
  border-radius: 60px 60px 0 0;
  margin-top: -60px;
  top: 0px;
  z-index: 3;

  background-color: #001996;

  background-image: url("/Testimonials/bg-blur.png");
  background-position: center;
  background-size: cover;

  min-height: 100vh;
  color: #ffffff;
  padding: 120px 0;
}
.container {
}
.testimonials-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.testimonials-title {
  font-family: var(--font-nyght-serif), serif;

  font-size: 72px;
  line-height: 68px;
  letter-spacing: -2%;
}
.testimonials-title span {
  font-family: var(--font-nyght-serif), serif;
  font-weight: 300;
  font-style: italic;
}
.testimonials-text {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -5%;

  max-width: 320px;
}

.testimonials-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.testimonials-card {
  max-width: 420px;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  color: #0d0e20;
  padding: 24px;
}
.testimonials-card-top {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-bottom: 16px;
  margin-bottom: 16px;

  border-bottom: 1px solid #dcdfe480;
}
.testimonials-card-img {
  max-width: 64px;
  width: 100%;
  aspect-ratio: 1 / 1;

  border-radius: 100%;
}

.testimonials-card-img img {
  border-radius: 100%;
}

.testimonials-card-top-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.testimonials-card-top-name {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: -2%;
}
.testimonials-card-top-category {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -5%;
}
.testimonials-card-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -5%;
  color: #020028c9;

  white-space: pre-wrap;
}

.testimonials-card-text-more {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #193deb;

  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -5%;

  margin-top: 24px;
}


