.contact-form-section {
  position: static;
  z-index: 3;
  background-color: #fff;
  padding: 120px 0 60px;
}
.contact-form-section-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding-bottom: 60px;
}
.contact-form-section-top-title {
  font-family: var(--font-nyght-serif), serif;
  font-weight: 300;
  font-style: Light;
  font-size: 52px;
  line-height: 48px;
  letter-spacing: -2%;
}

.contact-form-section-top-title span {
  color: #193deb;
}

.contact-form-section-top-description {
  max-width: 320px;
  width: 100%;

  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 18px;
  letter-spacing: -5%;

  color: #02002880;
}
.contact-form-section-content {
  display: flex;
  gap: 20px;
}
.contact-form-section-content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;

  background-image: url("/ContactForm/bg-blur.webp");
  padding: 20px;

  max-width: 450px;
  width: 100%;
}

.contact-form-section-content-left-img {
  max-width: 330px;
  width: 100%;
}

.contact-form-section-content-left-img img {
  transform: rotate(180deg);
}

.contact-form-section-content-text {
  max-width: 330px;

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.contact-form-section-content-row {
}
.contact-form-section-content-row-title {
}
.contact-form-section-content-row-social {
}
